.f-main-n i , .f-main-a i  {
    margin-top: 1px;
    margin-right: 5px;
}

.f-main-n p , .f-main-a p {
    font-size: 0.7rem;
} 

.f-main-navigate li {
    list-style-type: none;
    
}

.con-fl-bg {
    background-image: linear-gradient(90deg, #164b8b 0%, #164b8b 35%, #24d5c8 100%);
}